*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
}

.ico-size{
    width: 1.875rem;
    height: 1.875rem;
}

.pointer--cursor{
    cursor: pointer;
}
.hide{
    display: none;
}
#error-msg {
    color: red;
}
#valid-msg {
    color: #00C900;
}

@media only screen and (max-width: 400px) {
    *{
        font-size: 4vw;
    }
    .selected_states--col{
        padding-right: 0!important;
        padding-left: .5rem !important;
    }
  }