.main-body{
    padding-top: 90px;
    padding-bottom: 65px;
}
.label_ico{
    width: 1.5rem;
    height: 1.5rem;
}
.second_container{
    box-shadow: #00000052 2px 1px 10px;
    border-radius: 2rem;
    padding: 20px;
}
